/* -------------------1200---------------- */

@media(max-width:1200px) {
    header .navBar li {
        padding: 10px;
    }

    /* --------about----------- */
    content #about {
        height: 600px;
        width: 100%;
        background-size: cover;
    }

    #about img {
        width: 80%;
        position: absolute;
        top: 20%;
        left: 3%;
    }

    /* ------collection---- */
    #collection img {
        align-self: center;
    }

    #collection ul {
        align-self: center;
        margin: 10px;
    }

    #collection div {
        flex-direction: column;
        margin: 10px auto;
    }

    /* ----------skill--------- */
    #skill ul {
        margin: 40px 5%;
    }

    /* ----------experience-------- */
    #experience ul {
        margin: 20px 10%;
    }
}

/* ---------------------900------------------ */

@media(max-width:900px) {
    header .navBar li {
        padding: 10px;
    }

    /* --------about----------- */
    content #about {
        height: 500px;
        width: 100%;
        background-size: cover;
    }

    #about img {
        width: 80%;
        position: absolute;
        top: 10%;
        left: 3%;
    }

    /* ------collection---- */
    #collection img {
        align-self: center;
    }

    #collection ul {
        align-self: center;
        margin: 10px;
    }

    #collection div {
        flex-direction: column;
        margin: 10px auto;
    }

    .jobs {
        display: none;
    }

    .jobs2 {
        display: block;
    }

    /* ----------skill--------- */
    #skill ul {
        margin: 40px 5%;
    }

    /* ----------experience-------- */
    #experience ul {
        margin: 20px 10%;
    }
}